<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en-us" }}">
  <head>
    {{ partial "head.html" . }}
  </head>
  <body class="sv-body">
    <a class="sv-skip" href="#content">Skip to content</a>
    {{ block "main" . }}{{ end }}
    {{- if .Scratch.Get "showGraph" -}}
      {{ partial "dag-data.html" . }}
      <script src="//cdn.jsdelivr.net/npm/force-graph"></script>
      {{- $js := resources.Get "js/dag.js" | minify | fingerprint -}}
      <script type="module" src="{{ $js.RelPermalink }}"></script>
    {{- end -}}
    <script src="{{ "js/code-copy.js" | relURL }}" defer></script>
  </body>
</html>
