{{- $page := . -}}
{{- $thumbnail := $page.Params.thumbnail | default "" -}}
{{- $src := "" -}}
{{- if $thumbnail -}}
  {{- with $page.Resources.GetMatch $thumbnail -}}
    {{- $src = .RelPermalink -}}
  {{- else -}}
    {{- with $page.Resources.GetMatch (printf "*%s*" $thumbnail) -}}
      {{- $src = .RelPermalink -}}
    {{- end -}}
  {{- end -}}
{{- end -}}
{{- if not $src -}}
  {{- with $page.Resources.GetMatch "thumbnail*" -}}
    {{- $src = .RelPermalink -}}
  {{- end -}}
{{- end -}}
{{- if not $src -}}
  {{- with $page.Resources.GetMatch "cover*" -}}
    {{- $src = .RelPermalink -}}
  {{- end -}}
{{- end -}}
{{- if not $src -}}
  {{- with $page.Resources.GetMatch "hero*" -}}
    {{- $src = .RelPermalink -}}
  {{- end -}}
{{- end -}}
{{- if not $src -}}
  {{- with $page.Resources.GetMatch "feature*" -}}
    {{- $src = .RelPermalink -}}
  {{- end -}}
{{- end -}}
{{- if and (not $src) $thumbnail -}}
  {{- if hasPrefix $thumbnail "/" -}}
    {{- $src = $thumbnail | relURL -}}
  {{- else -}}
    {{- $src = printf "%s%s" $page.RelPermalink $thumbnail -}}
  {{- end -}}
{{- end -}}
{{- $src -}}
