<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en-us" }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ if .IsHome }}{{ .Site.Params.description }}{{ else }}{{ .Description | default .Summary }}{{ end }}">
    <meta name="robots" content="index, follow">
    <link rel="canonical" href="{{ .Permalink }}">
    {{ if .Keywords }}<meta name="keywords" content="{{ delimit .Keywords ", " }}">{{ end }}
    <title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}</title>

    <!-- styles -->
    <link rel="stylesheet" href="{{ "css/style.css" | relURL }}">

    {{ block "head" . }}{{ end }}
    {{- partialCached "rss_feed_link.html" . -}}
</head>

<body class="{{ .Kind | lower }}">

    <!-- single grid that holds everything -->
    <div class="container">

    <!-- entire left sidebar -->
    <aside class="left-flex-column">
    <div class="sections-partial">
        {{ partial "sections_partial.html" . }}
      </div>
    <div class="btc-partial">
            {{ partial "btc_partial.html" . }}
        </div>
    <div class="recent-activity">
        {{ partial "recent_activity.html" . }}
      </div>
    </aside>

    <aside class="middle-flex-column">
    <div class="search-partial">
        {{ partial "search_partial.html" . }}
      </div>
        <main>
            {{ block "main" . }}{{ end }}
        </main>
    </aside>


    <!-- entire left sidebar -->
    <aside class="right-flex-column">
    <div class="categories-partial">
        {{ partial "categories_partial.html" . }}
      </div>
    <div class="tags-partial">
            {{ partial "tags_partial.html" . }}
        </div>
    </aside>

    </div> <!-- /container -->

    <footer>
        {{ block "footer" . }}
            {{ partial "footer.html" . }}
        {{ end }}
    </footer>

    <!-- scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.9.1/p5.js"></script>
    <script src="{{ "js/bg.js" | relURL }}"></script>
</body>
</html>
