{{ define "main" }}
<article class="post">
    <header>
        <h2>{{ .Title }}</h2>
        <p>
            Published: {{ .Date.Format "January 2, 2006" }}
            {{ with .GitInfo }}
            {{ if ne $.Date .AuthorDate }}
            | Last Modified: {{ .AuthorDate.Format "January 2, 2006" }}
            {{ end }}
            {{ end }}
        </p>
        {{ with .Params.tags }}
        <p>Tags:
            {{ range . }}
            <a href="{{ " /tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
            {{ end }}
        </p>
        {{ end }}
        {{ with .Params.categories }}
        <p>Categories:
            {{ range . }}
            <a href="{{ " /categories/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
            {{ end }}
        </p>
        {{ end }}
    </header>
    <hr></hr>
    <section>
        {{ if .Params.toc }}
        <hr>
        {{ .TableOfContents }}
        <hr>
        {{ end }}
        {{ .Content }}
    </section>
</article>

<script>
  document.addEventListener('DOMContentLoaded', (event) => {
    document.querySelectorAll('pre code').forEach((block) => {
      const button = document.createElement('button');
      button.className = 'copy-button';
      button.textContent = 'Copy';
      button.addEventListener('click', () => {
        navigator.clipboard.writeText(block.textContent)
          .then(() => {
            button.textContent = 'Copied!';
            setTimeout(() => { button.textContent = 'Copy'; }, 2000);
          })
          .catch(err => {
            console.error('Copy failed', err);
            button.textContent = 'Error';
            setTimeout(() => { button.textContent = 'Copy'; }, 2000);
          });
      });
      block.parentNode.insertBefore(button, block);
    });
  });
</script>
{{ end }}